<p-card styleClass=" mx-auto w-3 shadow-6">
  <ng-template pTemplate="title">
    <div class="flex flex-row justify-content-between">
      <span>Buat Akun</span>
      <p-button
        routerLink="/auth/login"
        icon="pi pi-arrow-left"
        [text]="true"
        severity="secondary"
      />
    </div>
  </ng-template>
  <form
    #form="ngForm"
    (ngSubmit)="onSubmit(form, $event)"
    action=""
    class="flex flex-column gap-3"
  >
    <div class="flex flex-column gap-2">
      <label for="username">Nomor Handphone</label>
      <input ngModel pInputText name="phone" aria-describedby="username-help" />
    </div>
    <div class="flex flex-column gap-2">
      <label for="username">Nama Lengkap</label>
      <input ngModel pInputText name="name" aria-describedby="username-help" />
    </div>
    <div class="flex flex-column gap-2">
      <label for="username">Email</label>
      <input ngModel pInputText name="email" aria-describedby="username-help" />
    </div>
    <div class="flex flex-column gap-2">
      <label for="username">Password</label>
      <input ngModel pInputText name="password" />
    </div>
    <div class="flex flex-column gap-2">
      <label for="username">Ulangi Password</label>
      <input ngModel pInputText name="password-reentered" />
    </div>
    <div class="flex flex-column gap-2">
      <label for="username">Profesi</label>
      <p-dropdown
        ngModel
        styleClass="w-full"
        [options]="profesies"
        optionLabel="name"
        placeholder="Pilih"
        name="profesi"
      />
    </div>
    <p-button
      type="submit"
      styleClass="w-full bg-blue-700 mt-4"
      label="Daftar"
      size="large"
      [rounded]="true"
    />
  </form>
</p-card>

<app-footer />

<p-confirmDialog />
<p-toast />
